






<!--@model GmailHelp.Models.Gmail
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="bg-warning text-center m-xxl-5">Bulk Email Sending Application</h1>-->

        <!-- Display message if exists -->
        <!--@if (ViewBag.Message != null)
        {
            <div class="alert alert-info text-center">
                @ViewBag.Message
            </div>
        }

        @using (Html.BeginForm("Index", "EmailSetUp", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="text-center">
                <input type="submit" value="Start Sending Email" class="btn btn-success" style="width:200px;height:50px" />
            </div>
        }
        @RenderBody();
    </div>
    
</body>
</html>-->


